p,
body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./modules/img/taylor-van-riper-yQorCngxzwI-unsplash.jpg');
}

.location-input {
  border: none;
  border-bottom: 2px solid;
  width: 200px;
}

button {
  border: none;
  background: none;
  width: 40px;
  cursor: pointer;
}

.main-weather {
  width: 300px;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

.weather-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  text-align: center;
  gap: 20px;
}


.weather-text {
  font-size: 30px;
}

.main-degrees {
  font-size: 40px;
}

.degree-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  justify-content: end;
  justify-items: end;
  margin-top: 20px;
}

.other-info {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.icon-small {
  width: 60px;
}